<!-- Dropdown to select language -->

{% load wagtail_modeltranslation %}
<link rel="stylesheet" href="../../static/css/lang_bar.css">

<div id="lang-bar">

    <label>Language:</label>
    <select id="lang-select" onchange="langChange()">
      <option value="en">English</option>
      <option value="es">Spanish</option>
      <option value="pt">Portuguese</option>
      <option value="fr">French</option>
      <option value="ar">Arabic</option>
    </select>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        // TODO populate dropdown with supported languages 
        const dropdown = document.getElementById("lang-select")

        
        // Set the selected language according to the current lang code in the URL
        loc_split = window.location.href.split('/');
        lang_code = loc_split[3];

        let found = false;
        for(lang of dropdown.options) {
            if (lang.value == lang_code){
                lang.selected = true;
                found = true
            }
        }

        //default to English, force lang_code to be in there
        if(!found){
            window.location.pathname = "en/" + loc_split[3]
        }

        /** 
            When language is selected from dropdown, update the URL with the proper language code 
        */
        function langChange() {
            const dropdown = document.getElementById("lang-select")
            const lang_code = dropdown.options[dropdown.selectedIndex].value
    
            loc_split = window.location.href.split('/');
            path = loc_split[4];
            window.location.pathname = lang_code + "/" + path
        }
        </script>

    </div>